<div id="player">
    <div class="cf seekBarContainer"><span class="songTime" id="startTime">0:00</span>
        <div class="seekBar"></div>
        <span class="songTime" id="endTime">0:00</span></div>
    <div class="currentlyPlaying"><p><span class="songName"></span><span class="artist"></span></p></div>
    <div id="controls"><a href="#" class="playlist">{{playlistSVG}}</a><a href="#" class="volume">{{volumeSVG}}
        <div id="volumeContainer">
            <div id="volumeSlider"></div>
        </div>
    </a><a href="#" class="previous">{{prevSVG}}</a><a href="#" class="playPause">{{playSVG}}</a><a href="#" class="next">{{nextSVG}}</a>
    </div>
</div>