<div class='controls'>
    <a class="remove" href="#" title="Remove From Playlist">

    </a>
    <a class="pause" href="#" title="Pause"><svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="23.379px" height="27px" viewBox="0 0 23.379 27" enable-background="new 0 0 23.379 27" xml:space="preserve"><rect x="14.678" y="-0.003"  width="6.701" height="27.007"/><rect x="2" y="-0.003" width="6.701" height="27.007"/></svg>
    </a>


    <a class='play' href='#' title="Play">
        <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="16.983px" height="25px" viewBox="0 0 16.983 25" enable-background="new 0 0 16.983 25" xml:space="preserve">
                    <g>
                        <path d="M0,1c0-0.55,0.363-0.734,0.807-0.409l15.37,11.264c0.443,0.325,0.443,0.857,0,1.183L0.807,24.303
                            C0.363,24.628,0,24.443,0,23.894V1z"/>
                    </g>
                </svg>

    </a>
   </div>
<img src='{{albumArtUrl}}'/>
<div class='songInfo'><p class='songName'>{{songName}}</p>

    {{#if artistLink }}
        <a class='artistName' href='{{artistLink}}'>{{artistName}}</a>
    {{else}}
        <p class='artistName'>{{artistName}}</p>
    {{/if}}

</div>
