<div class='controls'>
    <a class="removeFromPlaylist" href="#" title="Remove From Playlist">
        <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="18.872px" height="25px" viewBox="0 0 18.872 25" enable-background="new 0 0 18.872 25" xml:space="preserve">
                    <g>
                        <path d="M0,0.993c0-0.55,0.363-0.734,0.807-0.409L12.75,9.336c0.442,0.325,0.442,0.857,0,1.183L0.807,19.271
                            C0.363,19.598,0,19.412,0,18.861V0.993z"/>
                    </g>
                    <g>
                        <path d="M11.357,23.869l-1.167-1.167l2.775-2.776l-2.777-2.777l1.168-1.167l2.777,2.777l2.766-2.767l1.167,1.167
                            L15.3,19.926l2.775,2.775l-1.168,1.168l-2.775-2.776L11.357,23.869z"/>
                    </g>
                    </svg>
    </a>
    <a class="pause" href="#" title="Pause"><svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="23.379px" height="27px" viewBox="0 0 23.379 27" enable-background="new 0 0 23.379 27" xml:space="preserve"><rect x="14.678" y="-0.003"  width="6.701" height="27.007"/><rect x="2" y="-0.003" width="6.701" height="27.007"/></svg>
    </a>

    <a class='addToPlaylist' href='#' title="Add to Playlist">
        <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="18.872px" height="25px" viewBox="0 0 18.872 25" enable-background="new 0 0 18.872 25" xml:space="preserve">
                <g>
                    <path d="M0,0.993c0-0.55,0.363-0.734,0.807-0.409L12.75,9.336c0.443,0.325,0.443,0.857,0,1.183L0.807,19.271
                        C0.363,19.597,0,19.412,0,18.862V0.993z"/>
                </g>
                <g>
                    <path d="M9.383,20.756v-1.651h3.925v-3.927h1.651v3.927h3.913v1.651h-3.913v3.925h-1.651v-3.925H9.383z"/>
                </g>
                </svg>
    </a>
    <a class='playNow' href='#' title="Play Now">
        <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="16.983px" height="25px" viewBox="0 0 16.983 25" enable-background="new 0 0 16.983 25" xml:space="preserve">
                    <g>
                        <path d="M0,1c0-0.55,0.363-0.734,0.807-0.409l15.37,11.264c0.443,0.325,0.443,0.857,0,1.183L0.807,24.303
                            C0.363,24.628,0,24.443,0,23.894V1z"/>
                    </g>
                </svg>

    </a><a class='likeTrack' href='#' title="Share Track">
    <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 width="266.893px" height="266.895px" viewBox="0 0 266.893 266.895" enable-background="new 0 0 266.893 266.895"
	 xml:space="preserve">
<path id="Blue_1_" fill="#252525" d="M248.082,262.307c7.854,0,14.223-6.369,14.223-14.225V18.812
	c0-7.857-6.368-14.224-14.223-14.224H18.812c-7.857,0-14.224,6.367-14.224,14.224v229.27c0,7.855,6.366,14.225,14.224,14.225
	H248.082z"/>
<path id="f" fill="#ffffff" d="M182.409,262.307v-99.803h33.499l5.016-38.895h-38.515V98.777c0-11.261,3.127-18.935,19.275-18.935
	l20.596-0.009V45.045c-3.562-0.474-15.788-1.533-30.012-1.533c-29.695,0-50.025,18.126-50.025,51.413v28.684h-33.585v38.895h33.585
	v99.803H182.409z"/>
</svg>
</a>
   </div>
<div class='songImg'><img src='{{albumArtUrl}}'/></div>
<div class='songInfo'><p class='songName'>{{songName}}</p>

    {{#if artistLink }}
        <a class='artistName' href='{{artistLink}}'>{{artistName}}</a>
    {{else}}
        <p class='artistName'>{{artistName}}</p>
    {{/if}}

    <p class='albumName'>{{albumName}}</p>

    <p class='numPlays'>{{numPlays}}</p>
    <p class='genre'>{{genre}}</p></div>

